.Sidebar {
    height: 100%;
    width: 10%;
    /* background-color: aqua;
    text-align: left; */
  }
  /* .Sidebarmain{
    width:10%;
  } */

  .SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
  }
  
  .SidebarList .row{
    width: 10%;
    height: 60px;
    display: flex;
    /* color: white; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .SidebarList .row:hover{
    cursor: pointer;
    background-color: aquamarine;
  }