nav {
  margin-bottom: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  color: #333;
}

button {
  background-color: #4f46e5;
  font-weight: bold;
  border-radius: 9999px;
  padding: 1rem 2rem;
  color: #fff;
  margin-left: auto;
  display: flex;
  align-self: flex-end;
}